#Loadable Kernel Module support
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n
CONFIG_MODULE_COMPRESS=n
CONFIG_TRIM_UNUSED_KSYMS=n

#customizations
CONFIG_SYSVIPC=y
CONFIG_LOCALVERSION_AUTO=n
CONFIG_LOCALVERSION="@ravindu644"
CONFIG_DEFAULT_HOSTNAME="beyondx"

#kallsyms
CONFIG_DEBUG_KERNEL=y
CONFIG_KALLSYMS=y
CONFIG_KALLSYMS_ALL=y

#OverlayFS
CONFIG_OVERLAY_FS=y

#Disable security features
CONFIG_UH=n
CONFIG_UH_LKMAUTH=n
CONFIG_UH_LKM_BLOCK=n
CONFIG_RKP_CFP_JOPP=n
CONFIG_RKP_CFP=n
CONFIG_FIVE=n
CONFIG_SECURITY_DEFEX=n
