#Basic support
CONFIG_SYSVIPC=y
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE=y
CONFIG_USB_ACM=y

#custom
CONFIG_DEFAULT_HOSTNAME="kali"
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n

#NH
CONFIG_NETHUNTER_SUPPORT=y
CONFIG_NETHUNTER_WIFI_SUPPORT=y
CONFIG_NETHUNTER_SDR_SUPPORT=y
CONFIG_NETHUNTER_USB_SUPPORT=y
CONFIG_NETHUNTER_NFS_SUPPORT=y
