#Basic support
CONFIG_SYSVIPC=y
CONFIG_MODULES=y
CONFIG_MODULE_FORCE_LOAD=y
CONFIG_MODULE_UNLOAD=y
CONFIG_MODULE_FORCE_UNLOAD=y
CONFIG_MODVERSIONS=y
CONFIG_BUILD_ARM64_APPENDED_DTB_IMAGE=y
CONFIG_USB_ACM=y

#custom
CONFIG_DEFAULT_HOSTNAME="kali"
CONFIG_MEDIA_SUBDRV_AUTOSELECT=n
CONFIG_MODULE_SRCVERSION_ALL=n
CONFIG_MODULE_SIG=n

#NH
CONFIG_NETHUNTER_SUPPORT=y
CONFIG_NETHUNTER_WIFI_SUPPORT=y
CONFIG_NETHUNTER_SDR_SUPPORT=y
CONFIG_NETHUNTER_USB_SUPPORT=y
CONFIG_NETHUNTER_NFS_SUPPORT=y

#network
CONFIG_CFG80211_WEXT=y
CONFIG_BT_HCIBTUSB=y
CONFIG_BT_HCIBTUSB_BCM=y
CONFIG_BT_HCIBTUSB_RTL=y
CONFIG_BT_HCIUART=y
CONFIG_BT_HCIUART_H4=y
CONFIG_BT_HCIBCM203X=y
CONFIG_BT_HCIBPA10X=y
CONFIG_BT_HCIBFUSB=y
CONFIG_BT_HCIVHCI=y
CONFIG_ANDROID_BINDER_IPC=y
CONFIG_USB_RTL8150=y
CONFIG_USB_RTL8152=y
CONFIG_MAC80211=y
CONFIG_MAC80211_MESH=y


#RFCOMM
CONFIG_BT_BREDR=y
CONFIG_BT_RFCOMM=y
CONFIG_BT_RFCOMM_TTY=y
CONFIG_BT_BNEP=n
CONFIG_BT_HIDP=n
CONFIG_BT_HS=y

